{% extends 'base.html' %} {% block content %}
<h1>About Strike Gently</h1>
<br>
<h2>Welcome to Strike Gently, an app for supporting mental wellness. 
    In our "therapies" you'll find a wealth of resources to support you in your mental health journey, please select one of our many informational pages for tips and tricks to naturally increase your serotonin levels, and you'll also notice we have a few resources for panic, and anxiety attacks, self-harm urges, and eating disorder triggers. 
    
    In our journal section, you can easily and securely track your triggers, journal about how you've been feeling, easily add images to help express yourself, and watch your developments. 
    
    Please remember that while these can help lower the risk of episodes, or lessen the effects, these are not a replacement for professional mental help or medications. 
    
    If you or someone you love is struggling, please reach out to the national Suicide and Crisis Lifeline, 988. 
    
    Or, in case of an emergency, 911. 
    
    
    It's never too late to ask for help </h2>
{% endblock %}