{% extends 'base.html' %} {% block content %}

<h1 class="title pt-5">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <a class="button is-dark" href="{% url 'journal_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'journal_create' %}">Add journal</a>
</form>
<div class="gallery">
  {% for journal in journal %} 
  {% if cur_user == journal.user %}
  <a href="{% url 'journal_detail' journal.pk %}">
    <div class="card">
      <div class="card-img">
        <figure class="img is-square">
          <img src="{{journal.img}}" alt="{{journal.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{journal.name}}</p>
      </div>
    </div>
  </a>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}